.containers{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
h1{
	font-family: fantasy;
	font-size: 50px;
	border-bottom: 2px solid pink;
	border-right: 2px solid red;
	width: 350px;
	text-align: center;
	font-weight: bolder;
	box-shadow: 4px 5px 5px red;
}
img{
	width: 254px;
	height: 250px;
	margin: 10px;
	transition: all 1s;
	

}
img:hover{
	transform: scale(1.1);
}